.loginAndRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../assets/AdminBg.png");
  background-size: cover;
  background-position: center;
}

.registerLoginForm {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin-top: 20px;
}

.registerLoginForm h2 {
  text-align: center;
}

.registerLoginForm input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.registerLoginForm .loginButton {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.registerLoginForm .loginButton:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 5px;
}

.toggleLoginButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.toggleLoginButton:hover {
  background-color: #0056b3;
}
