.loginAndRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .registerLoginForm {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .registerLoginForm h2 {
    text-align: center;
  }
  
  .registerLoginForm input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .registerLoginForm button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registerLoginForm button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }
  
  .login {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #007bff;
  }
  
  .login:hover {
    text-decoration: underline;
  }
  