.fullUserRegister{
  height: 150vh;
  max-width: 100%;
  background-size: 100%;
  margin-top: 0%;

}

.loginAndRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  
padding-top: 100px;
}

.registerForm {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.registerForm h2 {
  text-align: center;
}

.registerForm input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.registerForm button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 65px;
  cursor: pointer;
}

.registerForm button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 5px;
}

.userRegisterLogin {
  border:solid white ;
  border-radius:5px;
  margin-left:100px;
  width:200px;
  height:30px;
  display: block;
  text-align: center;
  text-decoration: none;
  color:white;
  background-color: #007bff;
  border-radius: 65px;
}
.if{
  margin-left: 100px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.userRegisterLogin:hover {
background-color: #0056b3;
}
